<p id="notice"><%= notice %></p>

<p>
  <strong>One:</strong>
  <%= @trying.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @trying.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @trying.three %>
</p>

<%= link_to 'Edit', edit_trying_path(@trying) %> |
<%= link_to 'Back', tryings_path %>
